
<h1>{{section.settings.text}}</h1>

{% schema %}
{
  "name": "Heading",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Heading Text",
      "default": "Hello World!"
    }
  ],
  "presets": [
    {
        "name": "Heading"
    }
  ]
}
{% endschema %}
